<div class="container box" id="proyectos">
  <hr>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Identificador</th>
            <th scope="col">Costo</th>
            <th scope="col">Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proyecto of proyectos; index as i">
            <th scope="row">{{i + 1}}</th>
            <td>{{ proyecto.nombre }}</td>
            <td>${{ proyecto.presupuesto}}</td>
            <td>{{proyecto.descripcion}}</td>
          </tr>
        </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-success" (click) = "popAddPro()" >Agregar Proyecto</button>
    </div>
  </div>
</div>

<div class="container" id="addProyecto">
  <button type="button" class="close" aria-label="Close" (click) = "closeAddPro()">
    <span class="close-btn " aria-hidden="true">&times;</span>
  </button>
    <form >
      <div class="form-group">
        <label for="criterio">Nombre</label>
        <input type="text" class="form-control" id="nombre" #proyectoNombre >
      </div>
      <div class="form-group">
        <label for="costo">Costo</label>
          <input type="text" class="form-control" id="costo" #proyectoCosto >
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción</label>
        <textarea rows=3 type="text" class="form-control" id="descripcion" #proyectoDescripcion></textarea>
      </div>
      <span (click) ="addPro()" class="btn btn-success">Agregar</span>
      <!-- <span (mouseover)="help=true" (mouseout)="help=false" class="btn btn-info"> Ayuda</span>
      <div class="help" *ngIf="changeText">
        <p>Eliga </p>
      </div> -->
    </form>
</div>




<div class="container box" id="criterios">
  <hr>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Criterio</th>
            <th scope="col">Tipo</th>
            <th scope="col">Ponderación</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let criterio of criterios; index as i">
            <th scope="row">{{i + 1}}</th>
            <td>{{ criterio.nombre }}</td>
            <td>{{ criterio.tipo }}</td>
            <td><input type="number" [(ngModel)]="criterio.ponderacion"
                       (input)="calcCriPond()"
            ></td>
          </tr>

          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td>Total {{total}}%</td>
          </tr>
        </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-success" (click) = "popAddCri()" >Agregar</button>
      <button class="btn btn-primary" style="margin-left: 20px;" (click) = "regresar()" >Regresar a proyectos</button>
    </div>
  </div>
</div>

<div class="container" id="addCriterio">
  <button type="button" class="close" aria-label="Close" (click) = "closeAddCri()">
    <span class="close-btn " aria-hidden="true">&times;</span>
  </button>
    <form >
      <div class="form-group">
        <label for="criterio">Criterio</label>
        <input type="text" class="form-control" id="criterio" #criterioInput >
      </div>
      <div class="form-group">
        <label for="tipo">Tipo</label>
        <select id="tipo" class="form-control" #tipoInput>
          <option selected>Cuantitativo</option>
          <option> Cualitativo</option>
        </select>
      </div>
      <div class="form-group">
        <label for="ponderacion">Ponderación</label>
        <input type="text" class="form-control" id="ponderacion" #ponderacionInput>
      </div>
      <span (click) ="addCri()" class="btn btn-success">Agregar</span>
      <!-- <span (mouseover)="help=true" (mouseout)="help=false" class="btn btn-info"> Ayuda</span>
      <div class="help" *ngIf="changeText">
        <p>Eliga </p>
      </div> -->
    </form>
</div>
